@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat:ital@0;1&family=Noto+Sans&family=Poppins&display=swap');

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: 'Montserrat', sans-serif;
}

.navbar {
    z-index: 1000;
    position: sticky;
    top:0;
    left:0;
    height: 80px;
    background-color: #516EFF;
    display: flex;
}
.link {
    text-decoration: none;
    margin: 5px;

}
.sign-in {
    background: #FFE766;
    padding: 8px;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    
}
.appointment {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 70px;
    background-color: #FFE766;
    width: 200px;
    border-radius: 3px;
    
}
.therapy-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 5px 10px;
    border: 1px solid rgb(214, 211, 211);
    /* width: 400px; */
    min-height: 150px;
    
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.116);
    margin-bottom: 20px;
}
.therapy-image {
    height: 650px;
    margin-right: 10px;
}
.title {
    text-transform:uppercase;
    margin-bottom: 10px;
}
.discover {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 60px; 
}
.discover-p{
    width: 80%;
    text-align: justify;
    font-weight: 700;
    margin-top: 20px;
    padding: 20px;
    font-size: 24px;
  
    
}
.join {
    align-self: end;
    display: inline-block;
    text-decoration: none;
    background-color: #FFE766;
    font-size: 30px;
    border-radius: 40px;
    padding:10px 50px;
    margin-top: 30px;
    
    
}
.its {
    margin-bottom: 10px;
}
.its-img {

    width: 50px;
    border-radius: 50%;
}
.join-us{
    margin-right: 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px 0px rgba(129, 126, 126, 0.397);
    border-radius: 5px;

}
.way {
    transform: translate(55%, 90%);
    color: white;
    font-size: 170px;
}
.life {
    transform: translate(55%, 90%);
    color: white;
    font-size: 120px;
}